*{
    padding: 0%;
    margin: 0%;
}
p{
    color: aquamarine;
    background-color: brown;
    height: 100px;
    width: 100px;
}
body{
    color: blanchedalmond;
    height: 200px;
}
head{
font-size: large;

}